<!DOCTYPE html>
<html>
  <head>
    <title>DC Iotas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <%= yield %>

  <div style="margin: auto">
    <%= image_tag "dciotas.png", class: 'logo-image'  %>
  </div>

  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col">
        <b>Contact</b>
        <br />
        <%= mail_to 'iptbetaomega.secretary@gmail.com', "Email Us" %>
        <br />
        PO Box 55691
        <br />
        Washington DC, 20040
        </div>

        <div class="social">
          <b>Social</b>
          <br />
          <br />
          <%= link_to 'https://www.facebook.com/iptbetaomega/' do %>
          <span class="fa fa-facebook fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.twitter.com/iptbetaomega' do %>
          <span class="fa fa-twitter fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.instagram.com/betaomega/' do %>
          <span class="fa fa-instagram fa-2x social-button"></span>
          <% end %>
        </div>


      </div>
    </div>
  </div>


  </body>
</html>
