<!DOCTYPE html>
<html>
  <head>
    <title>DC Iotas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
      <nav class="navbar">
        <%= link_to root_path do %>
          <%= image_tag "dciotas1.jpg", width: "30", height: "30", class: 'd-inline-block align-top', alt: '' %>
        <% end %>
      </nav>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link">
            <%= link_to 'Pay Chapter Dues', dues_path, class: 'nav-link' %>
          </a>
        <% if user_signed_in? %>
          <a class="nav-item nav-link">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </a>
        <% else %>
          <a class="nav-item nav-link">
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
          </a>
          <a class="nav-item nav-link">
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
          </a>
        <% end %>
      </div>
    </div>
  </nav>


  <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

    <%= yield %>

  <div style="margin: auto">
    <%= image_tag "dciotas1.jpg", class: 'logo-image'  %>
  </div>

  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col">
        <b>Contact</b>
        <br />
        <%= mail_to 'iptbetaomega.secretary@gmail.com', "Email Us" %>
        <br />
        PO Box 55691
        <br />
        Washington DC, 20040
        </div>

        <div class="social">
          <b>Social</b>
          <br />
          <br />
          <%= link_to 'https://www.facebook.com/iptbetaomega/' do %>
          <span class="fa fa-facebook fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.twitter.com/iptbetaomega' do %>
          <span class="fa fa-twitter fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.instagram.com/thedciotas' do %>
          <span class="fa fa-instagram fa-2x social-button"></span>
          <% end %>
        </div>


      </div>
    </div>
  </div>


  </body>
</html>
